@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fb6f92;
  --foreground: #ffe5ec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fb6f92;
    --foreground: #ffe5ec;
  }
}

body {
  font-family: 'Xinzhongde Chensi', sans-serif;
}

@font-face {
  font-family: 'Xinzhongde Chensi';
  src: url('/xinzhongdechensi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.content {
  user-select: none;
}